<header class="header" id="header">
    <nav class="nav container">
        <a href="/" class="nav__logo">
            <span>Importaciones</span>
            <span>Macarena</span>
        </a>

        <div class="nav__menu" id="nav-menu">
            <ul class="nav__list">

                <li class="nav__item">
                    <a href="/" class="nav__link">Inicio</a>
                </li>

                <li class="nav__item">
                    <a href="/about" class="nav__link">Acerca de nosotros</a>
                </li>

                <li class="nav__item">
                    <a href="/services" class="nav__link">Productos</a>
                </li>

                <li class="nav__item">
                    <a href="#descuentos" class="nav__link">Descuentos</a>
                </li>

                <li class="nav__item">
                    <a href="/contact" class="nav__link">Contactar</a>
                </li>

            </ul>

            <div class="nav__close" id="nav-close">
            <!-- close button -->
                <i class="ri-close-line"></i>
            </div>
        </div>

        <div class="nav__actions">
            <!-- search button -->
            <i class="ri-search-line nav__search" id="search-btn"></i>

            <!-- Toggle botton -->
            <div class="nav__toggle" id="nav-toggle">
            <i class="ri-menu-line"></i>
            </div>
        </div>
    </nav>
</header>

<div class="search" id="search">
    <form action="" class="search__form">
        <i class="ri-search-line search__icon"></i>
        <input type="search" placeholder="Que deseas buscar?" class="search__input">
    </form>

    <i class="ri-close-line search__close" id="search-close"></i>
</div>


