<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Importaciones Macarena</title>
    <%- include('../partials/head'); %>
    <link rel="stylesheet" href="/css/about.css">

</head>
<body>
    <%- include('../partials/header'); %>
    <main>
        <div class="about__container">
            <div class="text__container">
                <h1 class="about__title">Importaciones Macarena</h1>
                <p>Es una empresa reconocia a nivel nacional que ofrece
                a sus usuarios el servicio y la capacidad, de poder realizar compras al mayor de productos especificados
                por el cliente, de manera fácil y segura.</p>
                <p>Contamos con una atención al cliente personalizada, capaz de responder dudas y notificar
                sobre el tiempo de entrega de su pedido, éste dependiendo de la fecha en la que lo realizó,
                el tamaño de dicho pedido y la importancia del mismo.</p>
                <div class="img__about">
                    <img src="images/edificio.jfif" alt="CedePrincipal">
                </div>
                <p class="cede__text"><small>Cede principal - hubicada en Temblador - Avenida Francisco de Miranda - edificio 23</small></p>
            </div>

            <div class="fundacion">
                <h2 class="about__title">Fundación</h2>
                <p>Fue fundada en <strong>2022</strong> por Jean Manaure con el proposito de que las micro-empresas de su localidad tuvieran una forma más facil y rentable de acceder a productos para vender al público y así aumentar su alcance.</p>
                <div class="fund__img">
                <img class="fund" src="images/fundador.jfif" alt="">
                </div>
                <div>
                    <a href="#"  class="icon item__ws"><i class="ri-whatsapp-line"></i></a>
                    <a href="#" class="icon item__fc"><i class="ri-messenger-line"></i></a>
                    <a href="#" class="icon item__in"><i class="ri-instagram-line"></i></a>
                    <a href="#" class="icon item__em"><i class="ri-mail-line"></i></a>
                </div>
                Redes sociales
            </div>
            <div class="diseno">
                <p><small>Web maquetada, diseñada y desarrollada por - dev. FullStack - <a href="/">Angel Manaure</a></small></p>
            </div>
        </div>
    </main>    


    <%- include('../partials/footer'); %>
</body>
</html>