<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contactar</title>
    <%- include('../partials/head'); %>
    <link rel="stylesheet" href="/css/contact.css">
</head>
<body>
    <%- include('../partials/header'); %>

    <div class="containersd">
        <div class="contact__container"> 
            <h2 class="">Nos puedes encontar en</h2>
            <div class="icon__group">  
                    <a href="#"  class="icon__item item__ws"><i class="ri-whatsapp-line"></i></a>
                    <a href="#" class="icon__item item__fc"><i class="ri-messenger-line"></i></a>
                    <a href="#" class="icon__item item__in"><i class="ri-instagram-line"></i></a>
                    <a href="#" class="icon__item item__em"><i class="ri-mail-line"></i></a>
            </div>
            <p class="icon__text">
               Recuerda que puedes solicitar precios, disponibilidad cantidad en inventario y mucho más
               sin compromiso alguno y con toda la confiaza.
            </p>
        </div>
    <%- include('../partials/footer'); %>
    </div>
</body>
</html>