<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Importaciones Macarena</title>
    <%- include('../partials/head'); %>
</head>
<body>
    <%- include('../partials/header'); %>
    <main class="main">

        <img src="images/fondo.png" alt="image" class="main__bg">

    </main>

    <%- include('../partials/footer'); %>
    <script src="js/error.js"></script>
</body>
</html>