<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicios</title>
    <%- include('../partials/services/services.head.ejs'); %>
    
</head>
<body>
    <%- include('../partials/services/services.header.ejs'); %>

    <main class="services__container flex__container">

        <article class="flex__container">

            <h2 class="services__title">Productos</h2>
            <p class="services__p">Contamos con una gran variedad de productos, desde lapiceras hasta pedidos más exclusivos! dependiendo de las necesidades del cliente. <br> Contamos con delivery a cualquier parte del país y te lo dejamos en la puerta de tu negocio o almacen, el tiempo de entrega varia según la cantidad del producto y el acuerdo llegado con alguno de nuestros administrados, para más información ve a <a href="/client">atención al cliente</a>.</p>

        </article>
        
        <div  class="products__container flex__container carrusel__container">
            <h2 class="services__title2">Productos destacados</h2>

            <section class="carr-container">

                <div class="card__container swiper">

                    <div class="card__content">

                        <div class="swiper-wrapper">
                            <article class="card__article swiper-slide">
                                <div class="card__image">
                                    <img src="/images/img1.jpg" alt="image" class="card__img">
                                    <div class="card__shadow"></div>
                                </div>
                                <div class="card__data">
                                    <h3 class="card__name">Colores</h3>
                                    <p class="card__description">
                                        Cajas de 12 y 24
                                    <a href="/reali" class="card__button">Solicitar pedido</a>
                                    </p>
                                </div>
                            </article>

                            <article class="card__article swiper-slide">
                                <div class="card__image">
                                    <img src="/images/img3.jfif" alt="image" class="card__img">
                                    <div class="card__shadow"></div>
                                </div>

                                <div class="card__data">
                                    <h3 class="card__name">Vasos</h3>
                                    <p class="card__description">
                                        Cajas de 12 y 24
                                    <a href="/reali" class="card__button">Solicitar pedido</a>

                                    </p>
                                </div>
                            </article>

                            <article class="card__article swiper-slide">
                                <div class="card__image">
                                    <img src="/images/img1.jpg" alt="image" class="card__img">
                                    <div class="card__shadow"></div>
                                </div>

                                <div class="card__data">
                                    <h3 class="card__name">Colores</h3>
                                    <p class="card__description">
                                        Cajas de 12 y 24
                                    <a href="/reali" class="card__button">Solicitar pedido</a>
                                    </p>
                                </div>
                            </article>

                            <article class="card__article swiper-slide">
                                <div class="card__image">
                                    <img src="/images/img3.jfif" alt="image" class="card__img">
                                    <div class="card__shadow"></div>
                                </div>

                                <div class="card__data">
                                    <h3 class="card__name">Vasos</h3>
                                    <p class="card__description">
                                        Cajas de 12 y 24
                                    <a href="/reali" class="card__button">Solicitar pedido</a>
                                    </p>
                                </div>
                            </article>
                        </div>
                    </div>

                    <div class="swiper-button-prev">
                        <i class="ri-arrow-left-wide-line"></i>
                    </div>
                    <div class="swiper-button-next">
                        <i class="ri-arrow-right-wide-line"></i>
                    </div>

                    <div class="swiper-pagination"></div>
                </div>
            </section>
        </div>

        <div class="flex__container">
            <h2>Todos los productos</h2>
            <div class="grid__container">

                        <div class="product__item flex__container">
                            <img src="/images/img1.jfif" alt="" class="img__item">
                            <div class="product__data">
                                <h3>Boligrafos</h3>         
                                <p>Cajas de 12 y 24</p>
                                <a href="/reali" class="card__button">Solicitar pedido</a>
                            </div>
                        </div>

                        <div class="product__item flex__container">
                            <img src="/images/img1.jfif" alt="" class="img__item">
                            <div class="product__data">
                                <h3>Boligrafos</h3>         
                                <p>Cajas de 12 y 24</p>
                                <a href="/reali" class="card__button">Solicitar pedido</a>
                            </div>
                        </div>

                        <div class="product__item flex__container">
                            <img src="/images/img1.jfif" alt="" class="img__item">
                            <div class="product__data">
                                <h3>Boligrafos</h3>         
                                <p>Cajas de 12 y 24</p>
                                <a href="/reali" class="card__button">Solicitar pedido</a>
                            </div>
                        </div>

                        <div class="product__item flex__container">
                            <img src="/images/img1.jfif" alt="" class="img__item">
                            <div class="product__data">
                                <h3>Boligrafos</h3>         
                                <p>Cajas de 12 y 24</p>
                                <a href="/reali" class="card__button">Solicitar pedido</a>
                            </div>
                        </div>

                        <div class="product__item flex__container">
                            <img src="/images/img1.jfif" alt="" class="img__item">
                            <div class="product__data">
                                <h3>Boligrafos</h3>         
                                <p>Cajas de 12 y 24</p>
                                <a href="/reali" class="card__button">Solicitar pedido</a>
                            </div>
                        </div>

                        <div class="product__item flex__container">
                            <img src="/images/img1.jfif" alt="" class="img__item">
                            <div class="product__data">
                                <h3>Boligrafos</h3>         
                                <p>Cajas de 12 y 24</p>
                                <a href="/reali" class="card__button">Solicitar pedido</a>
                            </div>
                        </div>

                        <div class="product__item flex__container">
                            <img src="/images/img1.jfif" alt="" class="img__item">
                            <div class="product__data">
                                <h3>Boligrafos</h3>         
                                <p>Cajas de 12 y 24</p>
                                <a href="/reali" class="card__button">Solicitar pedido</a>
                            </div>
                        </div>

                        <div class="product__item flex__container">
                            <img src="/images/img1.jfif" alt="" class="img__item">
                            <div class="product__data">
                                <h3>Boligrafos</h3>         
                                <p>Cajas de 12 y 24</p>
                                <a href="/reali" class="card__button">Solicitar pedido</a>
                            </div>
                        </div>

                        <div class="product__item flex__container">
                            <img src="/images/img1.jfif" alt="" class="img__item">
                            <div class="product__data">
                                <h3>Boligrafos</h3>         
                                <p>Cajas de 12 y 24</p>
                                <a href="/reali" class="card__button">Solicitar pedido</a>
                            </div>
                        </div>

                        <div class="product__item flex__container">
                            <img src="/images/img1.jfif" alt="" class="img__item">
                            <div class="product__data">
                                <h3>Boligrafos</h3>         
                                <p>Cajas de 12 y 24</p>
                                <a href="/reali" class="card__button">Solicitar pedido</a>
                            </div>
                        </div>

                        <div class="product__item flex__container">
                            <img src="/images/img1.jfif" alt="" class="img__item">
                            <div class="product__data">
                                <h3>Boligrafos</h3>         
                                <p>Cajas de 12 y 24</p>
                                <a href="/reali" class="card__button">Solicitar pedido</a>
                            </div>
                        </div>

                        <div class="product__item flex__container">
                            <img src="/images/img1.jfif" alt="" class="img__item">
                            <div class="product__data">
                                <h3>Boligrafos</h3>         
                                <p>Cajas de 12 y 24</p>
                                <a href="/reali" class="card__button">Solicitar pedido</a>
                            </div>
                        </div>
            </div>
        </div>        

        <div id="descuentos" class="descount__container">
            <section  class="flex__container">
                <h2 class="services__title">Descuentos</h2>
                <p class="services__p">
                    Contamos con un sistema de descuento dependiendo de la cantidad y exclusividad del pedido,
                    podiendo obtener hasta un 10% de descuento en el costo total del pedido!. <br>
                    También tienes la posiblidad de de hacer pedidos específicos que estén en descuento por 
                    tiempo límite, no esperes a que se agoten!
                </p>
                <div class="grid__container">
                    <div class="product__item flex__container">
                        <img src="/images/img1.jfif" alt="" class="img__item">
                        <div class="product__data">
                            <h3>Boligrafos</h3>         
                            <p>Cajas de 12 y 24</p>
                            <a href="/reali" class="card__button">Solicitar pedido</a>
                        </div>
                    </div>
                    <div class="product__item flex__container">
                        <img src="/images/img1.jfif" alt="" class="img__item">
                        <div class="product__data">
                            <h3>Boligrafos</h3>         
                            <p>Cajas de 12 y 24</p>
                            <a href="/reali" class="card__button">Solicitar pedido</a>
                        </div>
                    </div>
                    <div class="product__item flex__container">
                        <img src="/images/img1.jfif" alt="" class="img__item">
                        <div class="product__data">
                            <h3>Boligrafos</h3>         
                            <p>Cajas de 12 y 24</p>
                            <a href="/reali" class="card__button">Solicitar pedido</a>
                        </div>
                    </div>
                    <div class="product__item flex__container">
                        <img src="/images/img1.jfif" alt="" class="img__item">
                        <div class="product__data">
                            <h3>Boligrafos</h3>         
                            <p>Cajas de 12 y 24</p>
                            <a href="/reali" class="card__button">Solicitar pedido</a>
                        </div>
                    </div>
                </div>

            </section>
        </div>
    <%- include('../partials/footer'); %>
    </main>

    <script src="/js/swiper-bundle.min.js"></script>
    <script src="js/main.js" defer></script>
    <script src="js/carrusel.js"></script>
</body>
</html>